@using ApiContracts.Comments
@using ApiContracts.Posts
@using BlazorApp1.Components.Pages
@using Microsoft.AspNetCore.Components
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<div class="row">
    <div class="col-5 col-md-3 text-end">Title:</div>
    <div class="col-7 col-md-9">@Post.Title</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Body:</div>
    <div class="col-7 col-md-9">@Post.Body</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Author:</div>
    <div class="col-7 col-md-9">@Post.Author.Username</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Likes:</div>
    <div class="col-7 col-md-9">@Post.Likes</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Dislikes:</div>
    <div class="col-7 col-md-9">@Post.Dislikes</div>
</div>
@if (Post.Comments != null && Post.Comments.Count != 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Body</th>
            <th>Date Created</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var comment in Post.Comments)
        {
            <tr>
                <td>@comment.Body</td>
                <td>@comment.DateCreated.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@comment.Author.Username</td>
            </tr>
        }
        </tbody>
    </table>
}

<AuthorizeView>
    <Authorized>
        <button class="btn btn-success mt-3" @onclick="NavigateToAddComment">
            Add comment
        </button>
    </Authorized>
</AuthorizeView>

@code {
    private PostDto? post;

    [Parameter] public PostDto Post { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    protected override async void OnInitialized()
    {
        Console.WriteLine(Post.Comments.Count);
        post = Post;
        await base.OnInitializedAsync();
    }

    private void NavigateToAddComment()
    {
        if (post != null)
        {
            NavManager.NavigateTo($"/AddComment/{post.Id}");
        }
    }

}